.nav-container{
    height:200px;
}

.signin{
    display: inline-block;
    
    color: white;
    margin-left: 2px;


}


.logo
{
    
height: 50px;
   
    display: flex;
   
    justify-content: flex-start;
    padding: 30px;
}

img{
    float:left;
    padding: 30px;
}

.buttons{
    float:right;
}
